/* .container {
    max-width: 800px;
    max-height: 100px;
    margin: 0 auto;
    padding: 20px;
  } */
  
  .content-section {
    padding: 20px;
  }
  
  .form-heading {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    color: #555;
  }
  
  .form-control {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .btn-primary {
    width: 100%;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  footer {
    margin-top: 20px;
    padding: 10px 0;
    font-size: 0.9rem;
    color: #888;
  }
  /* In your BankDetails.css file */
.custom-text-color {
    color: #ffffff; /* Replace with your preferred color */
  }